<div class="layout-dashboard">

    <div class="grid">
        <div class="col-12 lg:col-12">
            <div class="card">
                <h4></h4>
                <h4 class="text-center">TICKETS</h4>
                <div class="flex justify-content-center align-items-center">
                    <p-chart type="pie" [data]="chartTicketStatus" [options]="chartOption" [style]="{'width': '50%'}"></p-chart>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-12">
            <div class="card">
                <h4></h4>
                <h4 class="text-center">INCIDENCIAS</h4>
                <div class="flex justify-content-center align-items-center">
                    <p-chart type="bar" [data]="chartIncidences" [options]="chartOption" [style]="{'width': '100%'}"></p-chart>
                </div>
            </div>
        </div>
       <!-- <div class="col-12 lg:col-6">
            <div class="card">
                <h4></h4>
                <h4 class="text-center">INDICENCIAS</h4>
                <div class="flex justify-content-center align-items-center">
                    <p-chart type="pie" [data]="chartCategory" [options]="chartOption" [style]="{'width': '50%'}"></p-chart>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-4">
            <div class="card">
                <h4></h4>
                <p>---</p>
                <div class="flex justify-content-center align-items-center">
                    <p-chart type="pie" [data]="xChart" [options]="chartOption" [style]="{'width': '100%'}"></p-chart>
                </div>
            </div>
        </div>-->
    </div>
   <!-- <div class="grid">
        <div class="col-12 lg:col-12">
            <div class="card">
                <h4></h4>
                <p>PRODUCTOS DISPONIBLES</p>
                <div class="flex justify-content-center align-items-center">
                    <p-chart type="pie" [data]="chartModelBrand" [options]="chartOption" [style]="{'width': '100%'}"></p-chart>
                </div>
            </div>
        </div>
    </div>
-->
    <div class="grid">
       
    </div>
    <!--<div class="grid">
        <div class="col-12 lg:col-12">
            <div class="card">
                <h4></h4>
                <p>COTIZACIONES DE VENTA</p>
                <div class="flex justify-content-center align-items-center">
                    <p-chart type="line" [data]="chartQuotation" [options]="chartOption" [style]="{'width': '100%'}"></p-chart>
                </div>
            </div>
        </div>
    </div>--
    <div class="grid">
        <div class="col-12 lg:col-12">
            <div class="card">
                <h4></h4>
                <p>ORDENES DE VENTA</p>
                <div class="flex justify-content-center align-items-center">
                    <p-chart type="line" [data]="chartSaleOrders" [options]="chartOption" [style]="{'width': '100%'}"></p-chart>
                </div>
            </div>
        </div>
    </div>
-->

</div>
